{
        "apiURL": "https://panel.mydomain.com",
        "token": "12345",
        "addservers": false,

        "servers": [
                {
                        "enable": true,
                        "ip": "172.20.0.10",
                        "port": 27015,
                        "uid": "testingUID",
                        "packets": [
                                {
                                        "name": "A2S Info",
                                        "data": "FFFFFFFF54536F7572636520456E67696E6520517565727900",
                                        "threshold": 5
                                }
                        ]
                },
                {
                        "enable": true,
                        "ip": "172.20.0.11",
                        "port": 27015,
                        "uid": "testingUID2",
                        "packets": [
                                {
                                        "name": "A2S Info",
                                        "data": "FFFFFFFF54536F7572636520456E67696E6520517565727900",
                                        "threshold": 5
                                }
                        ]
                }
        ]
}